.bars {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 19px;
}

.skillBar {
  height: 70px;
  width: 250px;
}

.languageBar {
  height: 70px;
  width: 250px;
}

.skillsHeader {
  font-size: 20px;
  margin-top: 15px;
  background-color: orange;
  color: black;
  font-family: "Poppins", sans-serif;
  border: solid 2px black;
  transition: 0.2s ease-in-out 0s;
}

.skillsHeader:hover {
  transform: scale(1.25);
  background-color: white;
  color: orange;
  border: solid 2px orange;
}

.languagesHeader {
  text-decoration: overline orange;
}

#htmlIcon {
  color: orangered;
  font-size: 35px;
  animation: change;
  animation-duration: 0.75s;
  text-decoration: overline orangered;
}

#cssIcon {
  color: lightblue;
  font-size: 35px;
  animation: change;
  animation-duration: 1.5s;
  text-decoration: overline lightblue;
}

#jsIcon {
  color: yellow;
  font-size: 35px;
  animation: change;
  animation-duration: 2.25s;
  text-decoration: overline yellow;
}

#reactIcon {
  color: rgb(86, 61, 124);
  font-size: 35px;
  animation: change;
  animation-duration: 2.9s;
  text-decoration: overline rgb(60, 0, 60);
}

@keyframes change {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

hr {
  color: orange;
  border: 2px solid white;
}

#sweGlobe {

}

#engGlobe {

}

#farGlobe {

}

.sweText {

}

.engText {

}

.farText {
  
}