.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.animatedButtons {
  margin: 15px;
  margin-top: -5px;
  font-size: 20px;
  background-color: goldenrod;
  color: black;
  font-family: "Poppins", sans-serif;
  border: solid 5px goldenrod;
  transition: 0.2s ease-in-out 0s;
  border-radius: 15px;
  box-shadow: yellow 0px 30px 60px -12px inset, orange 0px 18px 36px -18px inset;
}

.animatedButtons:hover {
  transform: scale(1.25);
  background-color: white;
  color: orange;
  border: solid 2px orange;
}

.friendsText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px;
  color: orange;
}

#htmlIcon {
  color: orangered;
  font-size: 50px;
  animation: change;
  animation-duration: 0.75s;
  text-decoration: overline orangered;
  margin: 15px;
}

#cssIcon {
  color: lightblue;
  font-size: 50px;
  animation: change;
  animation-duration: 1.5s;
  text-decoration: overline lightblue;
  margin: 15px;
}

#jsIcon {
  color: yellow;
  font-size: 50px;
  animation: change;
  animation-duration: 2.25s;
  text-decoration: overline yellow;
  margin: 15px;
}

#reactIcon {
  color: rgb(86, 61, 124);
  font-size: 50px;
  animation: change;
  animation-duration: 2.9s;
  text-decoration: overline rgb(121, 0, 121);
  margin: 15px;
}

@keyframes change {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
